// Mixins Here

.btn {
    height: @height;
    width: @width;
    border: 1px solid black;
    font-size: 1.8rem;
    color: white;
    background-color: @header-font-color;
    padding: 10px;
    border-radius: 10px;
    .displayflex(center, center);   
}